
.select_wrapper {
  list-style-type: none;
  width: 100%;
  margin-top: 20px;
  padding: 0;

  &_horizontal {
    padding: 0;
    display: flex;
    li {
      width: 33%;
      text-align: center;
      border: solid 1px #dcdbdb;
    }
  }

  li {
    padding: 20px;
    border-top: solid 1px #dae0e4;
    cursor: pointer;
    line-height: 20px;
    color: #7d7474;

    &:hover,
    &.highlight {
      background: #ECEFF1;
      color: #7d7474;
    }
    &.highlight {
      font-weight: bold;
      font-size: 13.25px;
      .select_content {
        height: 100%;
        opacity: 1;
      }
    }

    .select_content {
      height: 0;
      opacity: 0;
      transition: all .3s ease-in-out;
      text-align: center;

      &_title{
        font-weight: normal;
        color: #22b8c5;
      }

      .radio {
        &_wrapper {
          display: flex;
          width: 200px;
          margin: auto;
        }
        &_btn {
          width: 100%;
          height: 60px;
          margin-top: 10px;
          border: solid 1px #b1b1b1;
          position: relative;

          &:first-child {
            border-left: none;
          }
        }
        &_cover {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          pointer-events: none;
        }
      }
      input {
        width: 60px;
        height: 100%;
        margin: auto;
        cursor: pointer;

        &:before{
          content: '';
          background-color: #ECEFF1;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition: all .3s ease-in-out;
        }
        &:checked {
          &:before{
            background-color: white;
          }
        }
      }
    }
  }
}
