.range_slider {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;

  &_wrapper {
    width: 100%;
    display: flex;
    align-items: center;

    .price_box {
      background: #e0e0e0;
      padding: 8px;
      font-size: 10px;
      color: #464646;
      width: 60px;
      text-align: center;
    }
  }
  &_title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &_set_price {
    text-align: left;
    padding: 5px;
    outline: none;
    width: 70px;
    border: solid 1px #d0d0d0;
  }
  &_input {
    -webkit-appearance: none;
    width: 100%;
    height: 12px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    max-width: none;
    margin: 0;
    overflow: hidden;

    :global(.rtl) & {
      direction: ltr;
    }
    &:hover {
      opacity: 1;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 7px;
      height: 100px;
      background: #084a4e;
      //background: #509652;
      cursor: pointer;
      border-radius: 50%;
      //box-shadow: -100vh 0 0 100vh #22b8c5;
      box-shadow: -105vh 0 30px 100vh #3bc8d4, -100vh 50px 0px 100vh #1f9ea9;
      &:before {
        content: "";
        position: absolute;
        background: red;
        width: 20px;
        height: 10px;
      }
    }

    &::-moz-range-thumb {
      width: 25px;
      height: 25px;
      background: #4CAF50;
      cursor: pointer;
    }
  }
}